
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

build/
bin/
debug/

# Functional tests
test/python/snapshots-tmp/
test/python/lib_binaries/*.elf
test/python/lib_binaries/*.zip
test/python/lib_binaries/CACHEDIR.TAG
__pycache__
.egg
.pyc
*~

# Manually ignore this file. It is a helper to replay apdus quickly.
test/python/test_raw.py
