---
site_name: Ledger Swap documentation
# site_url: https://ethereum-plugin-sdk.ledger.com
site_description: Documentation for Ledger Swap
theme:
  logo: img/Ledger-logo-696.webp
  favicon: img/Ledger-logo-696.webp
  name: material
  highlightjs: true
  hljs_languages:
    - yaml
  features:
    - navigation.indexes
    - navigation.expand

plugins:
  - search
  - mermaid2:
      arguments:
        theme: 'dark'
        themeVariables:
          primaryColor: '#BB2528'
          primaryTextColor: '#fff'
          primaryBorderColor: '#7C0000'
          lineColor: '#F8B229'
          secondaryColor: '#006100'
          tertiaryColor: '#fff'

markdown_extensions:
  - admonition
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - .
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        # Mermaid diagrams
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Introduction: index.md
  - Enabling the SWAP on your application:
      - Enabling the SWAP on your application: walkthrough/index.md
      - Prerequisite: walkthrough/prerequisite.md
      - Running an existing SWAP test: walkthrough/run_first_test.md
      - First compilation with the standard SWAP: walkthrough/enable_the_swap_compilation.md
      - Creating a basic SWAP test for you coin: walkthrough/enable_standard_app.md
      - Code the handlers: walkthrough/code_the_handlers.md
  - Technical Information:
      - Technical Information: technical_information/index.md
      - Sequence diagram: technical_information/diagram.md
      - Exchange Protocol API: technical_information/protocol.md
      - FUND and SELL flows: technical_information/fund_and_sell.md
      - Crypto Asset List (CAL): technical_information/cal.md
      - BSS safety in coin applications: technical_information/bss.md
      - Coin Application API:
          - Coin Application API: technical_information/coin_application_api/index.md
          - handle_check_address(): technical_information/coin_application_api/swap_handle_check_address.md
          - handle_get_printable_amount(): technical_information/coin_application_api/swap_handle_get_printable_amount.md
          - copy_transaction_parameters(): technical_information/coin_application_api/swap_copy_transaction_parameters.md
          - UI bypass: technical_information/coin_application_api/ui_bypass.md
          - Error codes: technical_information/coin_application_api/error_codes.md
      - The DALE tool: technical_information/dale.md

watch:
  - mkdocs.yml
  - docs/
  - test/
  - src/
