ragger[tests,speculos] >= 1.9.2
protobuf
stellar_sdk
base58
xrpl-py
scalecodec
bip32
embit
fastcrc
ledger_app_clients.ethereum
tonsdk
solders
solana
pysui_tx @ git+https://github.com/Fingolfin69/pysui_tx@main
aptos-sdk
