ragger[tests,speculos] >= 1.9.2
protobuf
stellar_sdk
base58
xrpl-py
scalecodec
bip32
embit
fastcrc
ledger_app_clients.ethereum @ https://github.com/LedgerHQ/app-ethereum/archive/develop.zip#subdirectory=client
tonsdk
solders
solana
