name: Compilation & tests

on:
  workflow_dispatch:
    inputs:
      golden_run:
        type: choice
        required: true
        default: 'Raise an error (default)'
        description: CI behavior if the test snaphots are different than expected.
        options:
          - 'Raise an error (default)'
          - 'Open a PR'
  push:
    branches:
      - master
      - develop
  pull_request:

# Cancel previous runs on this reference
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_coin_swap_tests:
    name: Run swap tests using the reusable workflow
    strategy:
      fail-fast: false
      matrix:
        coin:
          - repo: 'LedgerHQ/app-boilerplate'
            branch: 'master'
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_swap_tests.yml@y333/call_swap_from_exchange
    with:
      app_repository: ${{ matrix.coin.repo }}
      app_branch_name: ${{ matrix.coin.branch }}
      regenerate_snapshots: ${{ inputs.golden_run == 'Open a PR' }}
  # job_swap_functional_tests:
  #   name: Build and test
  #   uses: ./.github/workflows/reusable_swap_functional_tests.yml
  #   with:
  #     branch_for_exchange: ${{ github.ref }}
  #     regenerate_snapshots: ${{ inputs.golden_run == 'Open a PR' }}

  build_production_application:
    name: Build application using the reusable workflow
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_build.yml@v1
    with:
      # No flags
      upload_app_binaries_artifact: "exchange_production_build"

  ragger_production_tests:
    name: Run ragger tests using the reusable workflow
    needs: build_production_application
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_ragger_tests.yml@v1
    with:
      test_options: "--setup prod_build"
      download_app_binaries_artifact: "exchange_production_build"
      regenerate_snapshots: ${{ inputs.golden_run == 'Open a PR' }}
